</body>
  <div class="footer">
    <p>Made by IIT Jodhpur</p>
  </div>
<script src="https://kit.fontawesome.com/d4491bc5c0.js" crossorigin="anonymous"></script>
<script>
  function toggleNav() {
    document.getElementById("navbar-items").classList.toggle("openNav")
  }
</script>
</html>

