<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1350772505C0"
          style="width: 203px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1350772505C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1350772505C2"
          style="width: 214px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1350772505C3"
          style="width: 218px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1350772505C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1350772505C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1350772505C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1350772505C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1350772505C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1350772505R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          11.Accidents Classified According to Age of Impacting Vehicles
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Age of Vehicles</td>
        <td class="s2" colspan="5">Number of Accidents</td>
        <td class="s2" colspan="3">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" rowspan="2">Fatal</td>
        <td class="s2" rowspan="2">Grevious Injury (need hospitalisation)</td>
        <td class="s2" dir="ltr" rowspan="2">
          Minor Injury (not needing hospitalisation)
        </td>
        <td class="s2" rowspan="2">Non Injury</td>
        <td class="s2" rowspan="2">Total</td>
        <td class="s2" rowspan="2">Killed</td>
        <td class="s2" colspan="2">Injured</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Greviously Injured</td>
        <td class="s2">Minor Injury</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s0">1. Less than 5 years</td>
        <td class="s3">57</td>
        <td class="s3">6</td>
        <td class="s3">46</td>
        <td class="s3">5</td>
        <td class="s4">114</td>
        <td class="s3">59</td>
        <td class="s3">16</td>
        <td class="s3">75</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s0">2 5 – 10 years</td>
        <td class="s3">38</td>
        <td class="s3">5</td>
        <td class="s3">45</td>
        <td class="s3">8</td>
        <td class="s4">96</td>
        <td class="s3">47</td>
        <td class="s3">10</td>
        <td class="s3">58</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s0">3. 10.1 - 15 years</td>
        <td class="s3">2</td>
        <td class="s3"></td>
        <td class="s3">9</td>
        <td class="s3"></td>
        <td class="s4">11</td>
        <td class="s3">2</td>
        <td class="s3"></td>
        <td class="s3">11</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s0">4. &gt; 15 years</td>
        <td class="s3">1</td>
        <td class="s3">3</td>
        <td class="s3">1</td>
        <td class="s3">1</td>
        <td class="s4">6</td>
        <td class="s3">1</td>
        <td class="s3">3</td>
        <td class="s3">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s0">5.Age Not Known</td>
        <td class="s3">33</td>
        <td class="s3">3</td>
        <td class="s3">24</td>
        <td class="s3">5</td>
        <td class="s4">65</td>
        <td class="s3">33</td>
        <td class="s3">4</td>
        <td class="s3">29</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s1">Total</td>
        <td class="s4">131</td>
        <td class="s4">17</td>
        <td class="s4">125</td>
        <td class="s4">19</td>
        <td class="s4">292</td>
        <td class="s4">142</td>
        <td class="s4">33</td>
        <td class="s4">174</td>
      </tr>
    </tbody>
  </table>
</div>
</div>