<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="342463040C0"
          style="width: 170px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="342463040C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="342463040C2"
          style="width: 210px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="342463040C3"
          style="width: 229px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="342463040C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="342463040C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="342463040C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="342463040C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="342463040C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="342463040R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          12.Accidents Classified According to Load Condition of Involved
          Vehicle
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Load Condition</td>
        <td class="s2" colspan="5">Number of Accidents</td>
        <td class="s2" colspan="3">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" rowspan="2">Fatal</td>
        <td class="s2" rowspan="2">Grevious Injury (need hospitalisation)</td>
        <td class="s2" dir="ltr" rowspan="2">
          Minor Injury (not needing hospitalisation)
        </td>
        <td class="s2" rowspan="2">Non Injury</td>
        <td class="s2" rowspan="2">Total</td>
        <td class="s2" rowspan="2">Killed</td>
        <td class="s2" colspan="2">Injured</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Greviously Injured</td>
        <td class="s2">Minor Injury</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s0">1. Normally Loaded</td>
        <td class="s3">78</td>
        <td class="s3">9</td>
        <td class="s3">78</td>
        <td class="s3">13</td>
        <td class="s4">178</td>
        <td class="s3">84</td>
        <td class="s3">22</td>
        <td class="s3">112</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s0">2 Overloaded/ Hanging</td>
        <td class="s3">1</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s4">1</td>
        <td class="s3">3</td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s0">3. Empty</td>
        <td class="s3">32</td>
        <td class="s3">6</td>
        <td class="s3">35</td>
        <td class="s3">4</td>
        <td class="s4">77</td>
        <td class="s3">35</td>
        <td class="s3">9</td>
        <td class="s3">46</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s0">4. Not known</td>
        <td class="s5">20</td>
        <td class="s5">2</td>
        <td class="s5">12</td>
        <td class="s5">2</td>
        <td class="s4">36</td>
        <td class="s5">20</td>
        <td class="s5">2</td>
        <td class="s5">16</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="342463040R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s1">Total</td>
        <td class="s4">131</td>
        <td class="s4">17</td>
        <td class="s4">125</td>
        <td class="s4">19</td>
        <td class="s4">292</td>
        <td class="s4">142</td>
        <td class="s4">33</td>
        <td class="s4">174</td>
      </tr>
    </tbody>
  </table>
</div>
</div>