<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1795705170C0"
          style="width: 212px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1795705170C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1795705170C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1795705170C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1795705170C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1795705170C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1795705170C6"
          style="width: 135px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1795705170C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1795705170C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1795705170R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          17. Accidents Classified According to Type of Road User
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Persons</td>
        <td class="s2" colspan="8">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" colspan="2">Killed</td>
        <td class="s1" colspan="2">
          Greviously Injured (need hospitalisation)
        </td>
        <td class="s1" colspan="2">
          Minor Injured (not needing hospitalisation)
        </td>
        <td class="s1" colspan="2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s0">1. Pedestrian</td>
        <td class="s1">22</td>
        <td class="s1">4</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">11</td>
        <td class="s1">2</td>
        <td class="s1">35</td>
        <td class="s1">6</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s0">2. Bicycles</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3">a)   Drivers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s3">b)  Passengers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s0">3.Two Wheelers</td>
        <td class="s1">85</td>
        <td class="s1">5</td>
        <td class="s1">25</td>
        <td class="s1">1</td>
        <td class="s1">97</td>
        <td class="s1">17</td>
        <td class="s1">207</td>
        <td class="s1">23</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1">79</td>
        <td class="s1">3</td>
        <td class="s1">19</td>
        <td class="s1"></td>
        <td class="s1">67</td>
        <td class="s1">7</td>
        <td class="s1">165</td>
        <td class="s1">10</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1">6</td>
        <td class="s1">2</td>
        <td class="s1">6</td>
        <td class="s1">1</td>
        <td class="s1">30</td>
        <td class="s1">10</td>
        <td class="s1">42</td>
        <td class="s1">13</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s0">4.Auto Rickshaws</td>
        <td class="s1">4</td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">3</td>
        <td class="s1">2</td>
        <td class="s1">8</td>
        <td class="s1">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">4</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">2</td>
        <td class="s1">4</td>
        <td class="s1">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s0">5.Cars, Taxis, Vans &amp; LMV</td>
        <td class="s1">12</td>
        <td class="s1">3</td>
        <td class="s1">4</td>
        <td class="s1">0</td>
        <td class="s1">27</td>
        <td class="s1">8</td>
        <td class="s1">43</td>
        <td class="s1">11</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1">7</td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">18</td>
        <td class="s1">1</td>
        <td class="s1">27</td>
        <td class="s1">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1">5</td>
        <td class="s1">3</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">9</td>
        <td class="s1">7</td>
        <td class="s1">16</td>
        <td class="s1">10</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s0">6.Trucks/Lorries</td>
        <td class="s1">3</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">4</td>
        <td class="s1"></td>
        <td class="s1">7</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1">3</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">5</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s0">7.Buses</td>
        <td class="s1">1</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1">1</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s0">8.Other Motor Vehicles</td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">3</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s0">Total</td>
        <td class="s1">128</td>
        <td class="s1">14</td>
        <td class="s1">32</td>
        <td class="s1">1</td>
        <td class="s1">145</td>
        <td class="s1">29</td>
        <td class="s1">305</td>
        <td class="s1">44</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R27"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">28</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1">92</td>
        <td class="s1">3</td>
        <td class="s1">22</td>
        <td class="s1">0</td>
        <td class="s1">88</td>
        <td class="s1">8</td>
        <td class="s1">202</td>
        <td class="s1">11</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R28"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">29</div>
        </th>
        <td class="s3">b)Pedestrain+ Passenger</td>
        <td class="s1">36</td>
        <td class="s1">11</td>
        <td class="s1">10</td>
        <td class="s1">1</td>
        <td class="s1">57</td>
        <td class="s1">21</td>
        <td class="s1">103</td>
        <td class="s1">33</td>
      </tr>
    </tbody>
  </table>
</div>
</div>