<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1008792087C0"
          style="width: 238px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1008792087C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1008792087C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1008792087C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1008792087C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1008792087R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="5">
          18. Persons killed and Injured according to Type of Victims, Age and
          Sex
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Victims</td>
        <td class="s2" colspan="4">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" colspan="2">Killed</td>
        <td class="s2" colspan="2">Injured</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s0">(A)Drivers – Total</td>
        <td class="s1">92</td>
        <td class="s1">3</td>
        <td class="s1">110</td>
        <td class="s1">8</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s3">1.Less than 18 years</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3">2. 18-25</td>
        <td class="s5">28</td>
        <td class="s4"></td>
        <td class="s5">31</td>
        <td class="s5">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s3">3. 25-35</td>
        <td class="s5">33</td>
        <td class="s5">1</td>
        <td class="s5">41</td>
        <td class="s5">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s3">4. 35-45</td>
        <td class="s5">15</td>
        <td class="s4"></td>
        <td class="s5">27</td>
        <td class="s5">5</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s3">5. 45-60</td>
        <td class="s5">15</td>
        <td class="s5">2</td>
        <td class="s5">11</td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s3">6. 60 and Above</td>
        <td class="s5">1</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s3">Age not known</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s0">(B) Passengers – Total</td>
        <td class="s1">14</td>
        <td class="s1">7</td>
        <td class="s1">54</td>
        <td class="s1">20</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s3">1. Less than 18 years</td>
        <td class="s5">2</td>
        <td class="s5">1</td>
        <td class="s5">3</td>
        <td class="s5">4</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s3">2 18-25</td>
        <td class="s5">2</td>
        <td class="s5">1</td>
        <td class="s5">17</td>
        <td class="s5">3</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s3">3. 25-35</td>
        <td class="s5">3</td>
        <td class="s5">3</td>
        <td class="s5">16</td>
        <td class="s5">9</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s3">4. 35-45</td>
        <td class="s5">1</td>
        <td class="s5">1</td>
        <td class="s5">10</td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s3">5. 45-60</td>
        <td class="s5">4</td>
        <td class="s5">1</td>
        <td class="s5">4</td>
        <td class="s5">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s3">6. 60 and Above</td>
        <td class="s5">2</td>
        <td class="s4"></td>
        <td class="s5">4</td>
        <td class="s5">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s3">Age not known</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s0">(C) Pedestrian – Total</td>
        <td class="s1">22</td>
        <td class="s1">4</td>
        <td class="s1">13</td>
        <td class="s1">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s3">1. Less than 18 years</td>
        <td class="s5">5</td>
        <td class="s5">2</td>
        <td class="s5">1</td>
        <td class="s5">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s3">2 18-25</td>
        <td class="s5">5</td>
        <td class="s4"></td>
        <td class="s5">3</td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s3">3. 25-35</td>
        <td class="s5">4</td>
        <td class="s5">1</td>
        <td class="s5">3</td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s3">4. 35-45</td>
        <td class="s5">4</td>
        <td class="s4"></td>
        <td class="s5">3</td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s3">5. 45-60</td>
        <td class="s5">3</td>
        <td class="s5">1</td>
        <td class="s5">3</td>
        <td class="s5">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s3">6. 60 and Above</td>
        <td class="s5">1</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R27"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">28</div>
        </th>
        <td class="s3">Age not known</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R28"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">29</div>
        </th>
        <td class="s0">(D) Cyclist – Total</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R29"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">30</div>
        </th>
        <td class="s3">1. Less than 18 years</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R30"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">31</div>
        </th>
        <td class="s3">2 18-25</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R31"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">32</div>
        </th>
        <td class="s3">3. 25-35</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R32"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">33</div>
        </th>
        <td class="s3">4. 35-45</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R33"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">34</div>
        </th>
        <td class="s3">5. 45-60</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R34"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">35</div>
        </th>
        <td class="s3">6. 60 and Above</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R35"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">36</div>
        </th>
        <td class="s3">Age not known</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
        <td class="s5">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R36"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">37</div>
        </th>
        <td class="s0">Total</td>
        <td class="s1">128</td>
        <td class="s1">14</td>
        <td class="s1">177</td>
        <td class="s1">30</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R37"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">38</div>
        </th>
        <td class="s3">1. Less than 18 years</td>
        <td class="s1">7</td>
        <td class="s1">3</td>
        <td class="s1">4</td>
        <td class="s1">5</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R38"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">39</div>
        </th>
        <td class="s3">2 18-25</td>
        <td class="s1">35</td>
        <td class="s1">1</td>
        <td class="s1">51</td>
        <td class="s1">5</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R39"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">40</div>
        </th>
        <td class="s3">3. 25-35</td>
        <td class="s1">40</td>
        <td class="s1">5</td>
        <td class="s1">60</td>
        <td class="s1">10</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R40"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">41</div>
        </th>
        <td class="s3">4. 35-45</td>
        <td class="s1">20</td>
        <td class="s1">1</td>
        <td class="s1">40</td>
        <td class="s1">5</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R41"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">42</div>
        </th>
        <td class="s3">5. 45-60</td>
        <td class="s1">22</td>
        <td class="s1">4</td>
        <td class="s1">18</td>
        <td class="s1">3</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R42"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">43</div>
        </th>
        <td class="s3">6 .60 and Above</td>
        <td class="s1">4</td>
        <td class="s1">0</td>
        <td class="s1">4</td>
        <td class="s1">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1008792087R43"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">44</div>
        </th>
        <td class="s3">Age not known</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
    </tbody>
  </table>
</div>
</div>