<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>'
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1534992364C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1534992364C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1534992364C2"
          style="width: 184px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1534992364C3"
          style="width: 196px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1534992364C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1534992364C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1534992364C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1534992364C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1534992364C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1534992364R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          8.Accidents Classified According to Traffic Control at Junction
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Traffic Control</td>
        <td class="s2" colspan="5">Number of Accidents</td>
        <td class="s2" colspan="3">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" rowspan="2">Fatal</td>
        <td class="s2" rowspan="2">Grevious Injury (need hospitalisation)</td>
        <td class="s2" dir="ltr" rowspan="2">
          Minor Injury (not needing hospitalisation)
        </td>
        <td class="s2" rowspan="2">Non Injury</td>
        <td class="s2" rowspan="2">Total</td>
        <td class="s2" rowspan="2">Killed</td>
        <td class="s2" colspan="2">Injured</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Greviously Injured</td>
        <td class="s2">Minor Injury</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s3">1. Traffic light Signal</td>
        <td class="s4">1</td>
        <td class="s4"></td>
        <td class="s4">6</td>
        <td class="s4"></td>
        <td class="s5">7</td>
        <td class="s4">1</td>
        <td class="s4">1</td>
        <td class="s4">6</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s3">2. Police Controlled</td>
        <td class="s4">4</td>
        <td class="s4"></td>
        <td class="s4">7</td>
        <td class="s4">1</td>
        <td class="s5">12</td>
        <td class="s4">6</td>
        <td class="s4"></td>
        <td class="s4">9</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3">3. Stop Sign</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s5">0</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s3">4. Flashing signal/ blinker</td>
        <td class="s4">3</td>
        <td class="s4"></td>
        <td class="s4">1</td>
        <td class="s4"></td>
        <td class="s5">4</td>
        <td class="s4">3</td>
        <td class="s4"></td>
        <td class="s4">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s3">5. Uncontrolled</td>
        <td class="s4">28</td>
        <td class="s4">4</td>
        <td class="s4">32</td>
        <td class="s4">8</td>
        <td class="s5">72</td>
        <td class="s4">28</td>
        <td class="s4">5</td>
        <td class="s4">38</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1534992364R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s3">Total</td>
        <td class="s5">36</td>
        <td class="s5">4</td>
        <td class="s5">46</td>
        <td class="s5">9</td>
        <td class="s5">95</td>
        <td class="s5">38</td>
        <td class="s5">6</td>
        <td class="s5">54</td>
      </tr>
    </tbody>
  </table>
</div>
</div>