<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="822369619C0"
          style="width: 158px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="822369619C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="822369619C2"
          style="width: 150px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="822369619C3"
          style="width: 146px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="822369619C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="822369619C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="822369619C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="822369619C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="822369619C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="822369619R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          4. Accidents According to the Classification of Road
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Classification of Road</td>
        <td class="s1" colspan="5">Number of Accidents</td>
        <td class="s1" colspan="3">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" rowspan="2">Fatal</td>
        <td class="s1" rowspan="2">Grevious Injury (need hospitalisation)</td>
        <td class="s1" rowspan="2">
          Minor Injury (not needing hospitalisation)
        </td>
        <td class="s1" rowspan="2">Non Injury</td>
        <td class="s1" rowspan="2">Total</td>
        <td class="s1" rowspan="2">Killed</td>
        <td class="s1" colspan="2">Injured</td>
      </tr>
      <tr style="height: 78px">
        <th
          id="822369619R3"
          style="height: 78px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 78px">4</div>
        </th>
        <td class="s1">Greviously Injured</td>
        <td class="s1">Minor Injury</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s2">1. Expressways</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s2">2. National Highways</td>
        <td class="s4">36</td>
        <td class="s4">12</td>
        <td class="s4">50</td>
        <td class="s4">15</td>
        <td class="s5">113</td>
        <td class="s4">36</td>
        <td class="s4">14</td>
        <td class="s4">73</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s2">3. State Highways</td>
        <td class="s4">17</td>
        <td class="s4">2</td>
        <td class="s4">16</td>
        <td class="s4">4</td>
        <td class="s5">39</td>
        <td class="s4">14</td>
        <td class="s4">4</td>
        <td class="s4">24</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s2">4.Other Roads</td>
        <td class="s4">43</td>
        <td class="s4">19</td>
        <td class="s4">70</td>
        <td class="s4">6</td>
        <td class="s5">138</td>
        <td class="s4">48</td>
        <td class="s4">22</td>
        <td class="s4">104</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="822369619R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s6">Total$</td>
        <td class="s6">96</td>
        <td class="s6">33</td>
        <td class="s6">136</td>
        <td class="s6">25</td>
        <td class="s6">290</td>
        <td class="s6">98</td>
        <td class="s6">40</td>
        <td class="s6">201</td>
      </tr>
    </tbody>
  </table>
</div>
</div>