<%- include ("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1255825115C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1255825115C1"
          style="width: 138px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1255825115C2"
          style="width: 152px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1255825115C3"
          style="width: 132px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1255825115C4"
          style="width: 258px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1255825115C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1255825115C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1255825115C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1255825115C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
        <th
          id="1255825115C9"
          style="width: 100px"
          class="column-headers-background"
        >
          J
        </th>
        <th
          id="1255825115C10"
          style="width: 100px"
          class="column-headers-background"
        >
          K
        </th>
        <th
          id="1255825115C11"
          style="width: 100px"
          class="column-headers-background"
        >
          L
        </th>
        <th
          id="1255825115C12"
          style="width: 100px"
          class="column-headers-background"
        >
          M
        </th>
        <th
          id="1255825115C13"
          style="width: 100px"
          class="column-headers-background"
        >
          N
        </th>
        <th
          id="1255825115C14"
          style="width: 100px"
          class="column-headers-background"
        >
          O
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1255825115R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="15">
          BLACK SPOTS IDENTIFIED BY THE STATE IN CALENDER YEARS 2021
          (2018-2019-2020)
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s0" colspan="15">OTHER ROAD REPORT</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" rowspan="2">S.NO.</td>
        <td class="s1" rowspan="2">Name of Distt.</td>
        <td class="s1" rowspan="2">Name of Police Station</td>
        <td class="s1" rowspan="2">No of Other road</td>
        <td class="s1" rowspan="2">name of the location place</td>
        <td class="s1" colspan="2">Limits high accident prone Location</td>
        <td class="s0" colspan="4">Number of Accident</td>
        <td class="s0" colspan="4">Number of fatalities</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s1">Starting from ( KM Stone)</td>
        <td class="s1">Ending to (KM Stone)</td>
        <td class="s0">2018</td>
        <td class="s0">2019</td>
        <td class="s0">2020</td>
        <td class="s1">Total accident all three years</td>
        <td class="s0">2018</td>
        <td class="s0">2019</td>
        <td class="s0">2020</td>
        <td class="s1">Total fatalities all three years</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s2">1</td>
        <td class="s0">2</td>
        <td class="s0">3</td>
        <td class="s0">4</td>
        <td class="s0">5</td>
        <td class="s0">6</td>
        <td class="s0">7</td>
        <td class="s0">8</td>
        <td class="s0">9</td>
        <td class="s0">10</td>
        <td class="s0">11</td>
        <td class="s0">12</td>
        <td class="s0">13</td>
        <td class="s0">14</td>
        <td class="s0">15</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s2">1</td>
        <td class="s2">JODHPUR WEST</td>
        <td class="s2">KUDI BHAGTASANI</td>
        <td class="s2">ISRO TOWAR</td>
        <td class="s2">ISRO TOWAR BYPASS ROAD KBHB</td>
        <td class="s2">9 KM</td>
        <td class="s2">9.5</td>
        <td class="s2">9</td>
        <td class="s2">6</td>
        <td class="s2">5</td>
        <td class="s2">20</td>
        <td class="s2">7</td>
        <td class="s2">3</td>
        <td class="s2">4</td>
        <td class="s2">14</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s2">2</td>
        <td class="s2">JODHPUR WEST</td>
        <td class="s2">SOORSAGAR</td>
        <td class="s3">CHOPAD ROAD</td>
        <td class="s4 softmerge">
          <div class="softmerge-inner" style="width: 257px; left: -3px">
            BHOMIYA JI KA THAN SE CHOPAD TARAH
          </div>
        </td>
        <td class="s2">7 KM</td>
        <td class="s2">7.500M</td>
        <td class="s2">2</td>
        <td class="s2">3</td>
        <td class="s2">6</td>
        <td class="s2">11</td>
        <td class="s2">1</td>
        <td class="s2">2</td>
        <td class="s2">5</td>
        <td class="s2">8</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s2">3</td>
        <td class="s2">JODHPUR WEST</td>
        <td class="s5">BASNI</td>
        <td class="s5">SALAWAS ROAD</td>
        <td class="s5">PASHU AAHAR KE SAMNE</td>
        <td class="s5">7.200 M</td>
        <td class="s5">7.500 M</td>
        <td class="s6">2</td>
        <td class="s6">4</td>
        <td class="s6">1</td>
        <td class="s6">7</td>
        <td class="s6">2</td>
        <td class="s6">4</td>
        <td class="s6">1</td>
        <td class="s6">7</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1255825115R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s2">4</td>
        <td class="s2">JODHPUR WEST</td>
        <td class="s5">BASNI</td>
        <td class="s5">SALAWAS ROAD</td>
        <td class="s5">SANGRIYA BAY PASS ROAD</td>
        <td class="s5">8.500 M</td>
        <td class="s5">9 KM</td>
        <td class="s6">3</td>
        <td class="s6">2</td>
        <td class="s6">1</td>
        <td class="s6">6</td>
        <td class="s6">3</td>
        <td class="s6">2</td>
        <td class="s6">1</td>
        <td class="s6">6</td>
      </tr>
    </tbody>
  </table>
</div>
</div>