<%- include("partials/header") %>
<section class="intro1">
<h1 class= "center-title">Traffic Accident database</h1>
<p class= "center-content">This is the website for the road accident database monitored by the Traffic police of Jodhpur </p>
<p class= "center-content">Here are some interesting traffic facts! </p>
<p class="center-content">1. The national highways consume only 1.7% of all Indian roads. Yet they control 40% of road traffic in the country.</p>
<p class="center-content">2. Everyday 23 km of highway construction is done, as of June 2017.</p>
</section>

<section class="intro2" >
    <h1 class="center-title">View the data</h1>
    <p class="center-content">The Data has been classified into different categories. Select the category from which you want to view the data.</p>
    <p class="center-content">To view the data , click on the button below</p>
    
    <div class="cen-btn">
        <a href="/view" class="BS">View Data</a>
    </div>   
</section>

<section class="intro1">
    <h1 class= "center-title">View Black spots in Jodhpur</h1>
    <p class= "center-content">An accident black spot is a road corridor of about 500 m long on which either five road accidents, involving fatalities and grievous injuries, had been reported during the last three calendar years or 10 fatalities during the last three years</p>
    <div class="cen-btn">
        <a href="/BS" class="BS">Black Spots</a>
    </div>
    </section>
<%- include("partials/footer_home") %>
