<%- include("partials/header") %>
<div class="login" id="blur3">
  <h1 class="center-title">Login here</h1>
  <form action="/login" method="POST">
    <input type="email" name="username" id="" placeholder="Email" />
    <input type="password" name="password" id="" placeholder="Password" />
  <button type="submit">Login</button>
</form>
<hr>

</div>
<%- include("partials/footer_1") %>