<%- include("partials/header") %>
<section class="intro1">
<h1 class= "center-title">The year entered was not in the Database</h1>
<h1 class= "center-title">Creating the entry for this year ............</h1>
<div class="cref">
    <a href="/compose">Compose</a>

</div>

</section>
<%- include("partials/footer_1") %>
