<%- include("partials/header") %>
<div class="login" id="blur4">
    <h1 class="center-title">Register here</h1>
    <form action="/register" method="POST">
      <input type="email" name="username" id="email" placeholder="Email" />
      <input type="password" name="password" id="password" placeholder="Password" />
      <!-- <input type="password" name="password" id="" placeholder="Confirm Password" /> -->

    <button type="submit">Join</button>
  </form>
  <hr>
  
  </div>

<%- include("partials/footer_1") %>
