<%- include ("../partials/header") %>
<link rel="stylesheet" href="../../public/css/">
<section class="compose">
    <form action="/14" method="post">
        <div class="label">
            <label for="year">Year</label>
            <input type="number" name="year" id="year">
        </div>
        <div class="label">
            <label for="spot">Which Location ?</label>
            <select name="spot" id="">
                <option value="" disabled selected>East or West ?</option>
                <option value="east">East</option>
                <option value="west">West</option>
            </select>
        </div>
        <div class="label">
            <label for="violation">Type of Traffic Violation</label>
            <select name="violation" id="violation">
              <option value="" disabled selected>Traffic Violation</option>
              <option value="OS">Over-Speeding</option>
              <option value="DD">Drunken Driving/Use of Drugs</option>
              <option value="WS">Driving on Wrong Side</option>
              <option value="RL">Jumping Red Light</option>
              <option value="MP">Use of Mobile Phone</option>
              <option value="others">Others</option>
            </select>
          </div>
<div class="label">
    <label for="type">Type of Accident/Injury</label>
    <select name="type" id="type">
        <option value="" disabled selected>Choose</option>
        <option value="1">Fatal Accident</option>
        <option value="2">Greviously Injured</option>
        <option value="3">Minor Injury</option>
        <option value="4">No Injury</option>
    </select>
</div>
<div class="label">
    <label for="people">Number of people involved</label>
    <select name="people" id="people">
        <option value="" disabled selected>Choose</option>
        <option value="1">Killed</option>
        <option value="2">Grevious Injury</option>
        <option value="3">Minor Injury</option>
    </select>
</div>
<button type="submit">+</button>
</form>
</section>
<%- include("../partials/footer_1") %>

