<%- include ("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s10 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 8pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 10pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s8 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-Calibri", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-aakar", Arial;
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-aakar", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s9 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "docs-aakar", Arial;
    font-size: 13pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th id="0C0" style="width: 100px" class="column-headers-background">
          A
        </th>
        <th id="0C1" style="width: 100px" class="column-headers-background">
          B
        </th>
        <th id="0C2" style="width: 100px" class="column-headers-background">
          C
        </th>
        <th id="0C3" style="width: 100px" class="column-headers-background">
          D
        </th>
        <th id="0C4" style="width: 100px" class="column-headers-background">
          E
        </th>
        <th id="0C5" style="width: 100px" class="column-headers-background">
          F
        </th>
        <th id="0C6" style="width: 100px" class="column-headers-background">
          G
        </th>
        <th id="0C7" style="width: 100px" class="column-headers-background">
          H
        </th>
        <th id="0C8" style="width: 100px" class="column-headers-background">
          I
        </th>
        <th id="0C9" style="width: 100px" class="column-headers-background">
          J
        </th>
        <th id="0C10" style="width: 100px" class="column-headers-background">
          K
        </th>
        <th id="0C11" style="width: 100px" class="column-headers-background">
          L
        </th>
        <th id="0C12" style="width: 100px" class="column-headers-background">
          M
        </th>
        <th id="0C13" style="width: 100px" class="column-headers-background">
          N
        </th>
        <th id="0C14" style="width: 100px" class="column-headers-background">
          O
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th id="0R0" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="15">
          BLACK SPOTS IDENTIFIED BY THE STATE IN CALENDER YEARS 2021
          (2018-2019-2020)
        </td>
      </tr>
      <tr style="height: 20px">
        <th id="0R1" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" colspan="15">NATIONAL HIGHWAYS REPORT</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" rowspan="2">S.NO.</td>
        <td class="s2" rowspan="2">Name of Distt.</td>
        <td class="s2" rowspan="2">Name of Police Station</td>
        <td class="s2" rowspan="2">No of NH road</td>
        <td class="s2" rowspan="2">name of the location place</td>
        <td class="s2" colspan="2">Limits high accident prone Location</td>
        <td class="s3" colspan="4">Number of Accident</td>
        <td class="s3" colspan="4">Number of fatalities</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R3" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s4">Starting from ( KM Stone)</td>
        <td class="s4">Ending to (KM Stone)</td>
        <td class="s3">2018</td>
        <td class="s3">2019</td>
        <td class="s3">2020</td>
        <td class="s2">Total accident all three years</td>
        <td class="s3">2018</td>
        <td class="s3">2019</td>
        <td class="s3">2020</td>
        <td class="s2">Total fatalities all three years</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R4" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s5">1</td>
        <td class="s3">2</td>
        <td class="s3">3</td>
        <td class="s3">4</td>
        <td class="s3">5</td>
        <td class="s3">6</td>
        <td class="s3">7</td>
        <td class="s3">8</td>
        <td class="s3">9</td>
        <td class="s3">10</td>
        <td class="s3">11</td>
        <td class="s3">12</td>
        <td class="s3">13</td>
        <td class="s3">14</td>
        <td class="s3">15</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R5" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s5">1</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">DANGIYAWAS</td>
        <td class="s6">NH-112</td>
        <td class="s7">DATIWARA BHOMIYAJI THAN TO BISALPUR FANTA</td>
        <td class="s8">88-400</td>
        <td class="s8">89-000</td>
        <td class="s9">4</td>
        <td class="s9">2</td>
        <td class="s9">1</td>
        <td class="s9">7</td>
        <td class="s9">3</td>
        <td class="s9">0</td>
        <td class="s9">0</td>
        <td class="s9">3</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R6" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s5">2</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">MANDORE</td>
        <td class="s6">NH-62</td>
        <td class="s7">9 MILE TO KK FILING STATION</td>
        <td class="s10">9</td>
        <td class="s10">10</td>
        <td class="s9">7</td>
        <td class="s9">4</td>
        <td class="s9">2</td>
        <td class="s9">13</td>
        <td class="s9">2</td>
        <td class="s9">2</td>
        <td class="s9">2</td>
        <td class="s9">6</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R7" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s5">3</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">MANDORE</td>
        <td class="s6">NH-62</td>
        <td class="s7">NLU TO MANSINGH DEORA FARM HOUSE</td>
        <td class="s10">5</td>
        <td class="s10">6</td>
        <td class="s9">3</td>
        <td class="s9">3</td>
        <td class="s9">1</td>
        <td class="s9">7</td>
        <td class="s9">2</td>
        <td class="s9">2</td>
        <td class="s9">1</td>
        <td class="s9">5</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R8" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s5">4</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">MANDORE</td>
        <td class="s6">NH-62</td>
        <td class="s7">RPTC TO JODHA RI DHANI RESTORENT</td>
        <td class="s10">3</td>
        <td class="s10">4</td>
        <td class="s9">1</td>
        <td class="s9">5</td>
        <td class="s9">0</td>
        <td class="s9">6</td>
        <td class="s9">1</td>
        <td class="s9">0</td>
        <td class="s9">0</td>
        <td class="s9">1</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R9" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s5">5</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">KARWAR</td>
        <td class="s6">NH-62</td>
        <td class="s7">Netra Village to Naganaray Hotel</td>
        <td class="s9">265.2</td>
        <td class="s9">268.7</td>
        <td class="s9">4</td>
        <td class="s9">2</td>
        <td class="s9">3</td>
        <td class="s9">9</td>
        <td class="s9">12</td>
        <td class="s9">2</td>
        <td class="s9">11</td>
        <td class="s9">25</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R10" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s5">6</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">KARWAR</td>
        <td class="s6">NH-62</td>
        <td class="s7">Ralawas Puliya to Chhagniram Plant</td>
        <td class="s9">287.7</td>
        <td class="s9">288.2</td>
        <td class="s9">1</td>
        <td class="s9">5</td>
        <td class="s9">2</td>
        <td class="s9">8</td>
        <td class="s9">2</td>
        <td class="s9">6</td>
        <td class="s9">2</td>
        <td class="s9">10</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R11" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s5">7</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">KARWAR</td>
        <td class="s6">NH-62</td>
        <td class="s7">Ramdeo Dairy to Toonti ki Bari</td>
        <td class="s9">288.5</td>
        <td class="s9">289</td>
        <td class="s9">2</td>
        <td class="s9">2</td>
        <td class="s9">1</td>
        <td class="s9">5</td>
        <td class="s9">7</td>
        <td class="s9">3</td>
        <td class="s9">1</td>
        <td class="s9">11</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R12" style="height: 20px" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s5">8</td>
        <td class="s6">JODHPUR EAST</td>
        <td class="s6">BANAR</td>
        <td class="s6">
          <span
            style="font-size: 11pt; font-family: aakar, Arial; color: #000000"
            >NH-</span
          ><span
            style="font-size: 12pt; font-family: Krishna, Arial; color: #000000"
            >112</span
          >
        </td>
        <td class="s7">Rajasthan Hospital to Ramjaan Hatta</td>
        <td class="s9">13</td>
        <td class="s9">14</td>
        <td class="s9">2</td>
        <td class="s9">2</td>
        <td class="s9">1</td>
        <td class="s9">5</td>
        <td class="s9">2</td>
        <td class="s9">3</td>
        <td class="s9">1</td>
        <td class="s9">5</td>
      </tr>
    </tbody>
  </table>
</div>
</div>