<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s6 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1590723491C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1590723491C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1590723491C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1590723491C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1590723491C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1590723491C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1590723491C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1590723491C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1590723491C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
        <th
          id="1590723491C9"
          style="width: 100px"
          class="column-headers-background"
        >
          J
        </th>
        <th
          id="1590723491C10"
          style="width: 100px"
          class="column-headers-background"
        >
          K
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1590723491R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="11">
          2. Total number of Accidents Classified According to Area and Time of
          the Day
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" colspan="11">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Urban Area**</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" rowspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Time*</span
          >
        </td>
        <td class="s1" colspan="6">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of Accidents #</span
          >
        </td>
        <td class="s1" colspan="4">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of Persons<br />(based on type of Accidents) ##</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2" colspan="2">Fatal</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s1">No injury</td>
        <td class="s2">Total</td>
        <td class="s2">Killed</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >06:00 – 09:00</span
          >
        </td>
        <td class="s3">3</td>
        <td class="s3">2</td>
        <td class="s3">3</td>
        <td class="s3">1</td>
        <td class="s4">9</td>
        <td class="s3">4</td>
        <td class="s3">1</td>
        <td class="s3">3</td>
        <td class="s5">8</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >09:00 – 12:00</span
          >
        </td>
        <td class="s3">6</td>
        <td class="s3">3</td>
        <td class="s3">7</td>
        <td class="s3">3</td>
        <td class="s4">19</td>
        <td class="s3">7</td>
        <td class="s3">4</td>
        <td class="s3">8</td>
        <td class="s4">19</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >12:00 – 15:00</span
          >
        </td>
        <td class="s3">11</td>
        <td class="s3">4</td>
        <td class="s3">14</td>
        <td class="s3">5</td>
        <td class="s4">34</td>
        <td class="s3">12</td>
        <td class="s3">5</td>
        <td class="s3">23</td>
        <td class="s4">40</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >15:00 – 18:00</span
          >
        </td>
        <td class="s3">7</td>
        <td class="s3">3</td>
        <td class="s3">15</td>
        <td class="s3">1</td>
        <td class="s4">26</td>
        <td class="s3">8</td>
        <td class="s3">4</td>
        <td class="s3">20</td>
        <td class="s4">32</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >18:00 – 21:00</span
          >
        </td>
        <td class="s3">9</td>
        <td class="s3">4</td>
        <td class="s3">20</td>
        <td class="s3">1</td>
        <td class="s4">34</td>
        <td class="s3">9</td>
        <td class="s3">4</td>
        <td class="s3">28</td>
        <td class="s4">41</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >21:00 – 00:00</span
          >
        </td>
        <td class="s3">9</td>
        <td class="s3">3</td>
        <td class="s3">12</td>
        <td class="s3">1</td>
        <td class="s4">25</td>
        <td class="s3">9</td>
        <td class="s3">4</td>
        <td class="s3">12</td>
        <td class="s4">25</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >00:00 – 03:00</span
          >
        </td>
        <td class="s3">3</td>
        <td class="s3">0</td>
        <td class="s3">5</td>
        <td class="s3">2</td>
        <td class="s4">10</td>
        <td class="s3">4</td>
        <td class="s3">3</td>
        <td class="s3">8</td>
        <td class="s4">15</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >03:00 – 06:00</span
          >
        </td>
        <td class="s3">0</td>
        <td class="s3">0</td>
        <td class="s3">0</td>
        <td class="s3">0</td>
        <td class="s4">0</td>
        <td class="s3">0</td>
        <td class="s3">0</td>
        <td class="s3">0</td>
        <td class="s4">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s4" colspan="2">Total</td>
        <td class="s4">48</td>
        <td class="s4">19</td>
        <td class="s4">76</td>
        <td class="s4">14</td>
        <td class="s4">157</td>
        <td class="s4">53</td>
        <td class="s4">25</td>
        <td class="s4">102</td>
        <td class="s4">180</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s1" colspan="11">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Rural Area**</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s1" rowspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Time*</span
          >
        </td>
        <td class="s1" colspan="6">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of Accidents #</span
          >
        </td>
        <td class="s1" colspan="4">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of Persons<br />(based on type of Accidents) ##</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s2" colspan="2">Fatal</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s2">No injury</td>
        <td class="s2">Total</td>
        <td class="s2">Killed</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >06:00 – 09:00</span
          >
        </td>
        <td class="s3">0</td>
        <td class="s3">2</td>
        <td class="s3">2</td>
        <td class="s3">1</td>
        <td class="s4">5</td>
        <td class="s3">0</td>
        <td class="s3">2</td>
        <td class="s3">9</td>
        <td class="s4">11</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >09:00 – 12:00</span
          >
        </td>
        <td class="s3">3</td>
        <td class="s3">1</td>
        <td class="s3">1</td>
        <td class="s3">2</td>
        <td class="s4">7</td>
        <td class="s3">3</td>
        <td class="s3">1</td>
        <td class="s3">3</td>
        <td class="s4">7</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >12:00 – 15:00</span
          >
        </td>
        <td class="s3">7</td>
        <td class="s3">1</td>
        <td class="s3">3</td>
        <td class="s3">2</td>
        <td class="s4">13</td>
        <td class="s3">11</td>
        <td class="s3">1</td>
        <td class="s3">5</td>
        <td class="s4">17</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >15:00 – 18:00</span
          >
        </td>
        <td class="s3">5</td>
        <td class="s3">1</td>
        <td class="s3">5</td>
        <td class="s3">0</td>
        <td class="s4">11</td>
        <td class="s3">5</td>
        <td class="s3">2</td>
        <td class="s3">10</td>
        <td class="s4">17</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >18:00 – 21:00</span
          >
        </td>
        <td class="s3">11</td>
        <td class="s3">4</td>
        <td class="s3">3</td>
        <td class="s3">1</td>
        <td class="s4">19</td>
        <td class="s3">11</td>
        <td class="s3">4</td>
        <td class="s3">5</td>
        <td class="s4">20</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >21:00 – 00:00</span
          >
        </td>
        <td class="s3">4</td>
        <td class="s3">0</td>
        <td class="s3">5</td>
        <td class="s3">0</td>
        <td class="s4">9</td>
        <td class="s3">4</td>
        <td class="s3">0</td>
        <td class="s3">11</td>
        <td class="s4">15</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >00:00 – 03:00</span
          >
        </td>
        <td class="s3">1</td>
        <td class="s3">0</td>
        <td class="s3">1</td>
        <td class="s3">0</td>
        <td class="s4">2</td>
        <td class="s3">1</td>
        <td class="s3">0</td>
        <td class="s3">2</td>
        <td class="s4">3</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >03:00 – 06:00</span
          >
        </td>
        <td class="s3">1</td>
        <td class="s3">0</td>
        <td class="s3">1</td>
        <td class="s3">0</td>
        <td class="s4">2</td>
        <td class="s3">1</td>
        <td class="s3">0</td>
        <td class="s3">1</td>
        <td class="s4">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s4" colspan="2">Total</td>
        <td class="s4">32</td>
        <td class="s4">9</td>
        <td class="s4">21</td>
        <td class="s4">6</td>
        <td class="s4">68</td>
        <td class="s4">36</td>
        <td class="s4">10</td>
        <td class="s4">46</td>
        <td class="s4">92</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s6" colspan="11"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s6" colspan="11"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
