<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s8 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="875845504C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="875845504C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="875845504C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="875845504C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="875845504C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="875845504C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="875845504C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="875845504C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="875845504R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="7">
          16. Accidents Classified According to License of Drivers
        </td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s2" rowspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >T</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ype</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >o</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >f</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >L</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >cen</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >*</span
          >
        </td>
        <td class="s3" colspan="6">Number of Accidents **</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s3" colspan="2">Fatal</td>
        <td class="s4">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >G</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >r</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >evo</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >I</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >nj</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ry<br /></span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >hos</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >p</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >l</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >z</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ed)</span
          >
        </td>
        <td class="s4">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >M</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >nor</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >In</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >j</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ry<br /></span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >not</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >h</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >o</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >sp</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >l</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >z</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ed)</span
          >
        </td>
        <td class="s5">No injury</td>
        <td class="s3">Total</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s5" colspan="2">1. Valid Permanent License</td>
        <td class="s6">72</td>
        <td class="s6">22</td>
        <td class="s6">84</td>
        <td class="s6">17</td>
        <td class="s7">195</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s5" colspan="2">2. Learner License</td>
        <td class="s6">3</td>
        <td class="s6">1</td>
        <td class="s6">3</td>
        <td class="s6">2</td>
        <td class="s7">9</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s5" colspan="2">3. Without License</td>
        <td class="s6">1</td>
        <td class="s6">2</td>
        <td class="s6">2</td>
        <td class="s6">0</td>
        <td class="s7">5</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s5" colspan="2">4. Not Known</td>
        <td class="s6">2</td>
        <td class="s6">3</td>
        <td class="s6">8</td>
        <td class="s6">0</td>
        <td class="s7">13</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s5" colspan="2">5. Not Applicable</td>
        <td class="s6">2</td>
        <td class="s6">0</td>
        <td class="s6">0</td>
        <td class="s6">1</td>
        <td class="s7">3</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s5" colspan="2">Total</td>
        <td class="s7">80</td>
        <td class="s7">28</td>
        <td class="s7">97</td>
        <td class="s7">20</td>
        <td class="s7">225</td>
        <td class="s1"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="875845504R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s8" colspan="8"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>