<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s9 {
    border-left: none;
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s12 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s11 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Arial";
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s10 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 11pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Georgia";
    font-size: 12pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s8 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1624814910C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1624814910C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1624814910C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1624814910C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1624814910C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1624814910C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1624814910C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1624814910C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1624814910C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
        <th
          id="1624814910C9"
          style="width: 100px"
          class="column-headers-background"
        >
          J
        </th>
        <th
          id="1624814910C10"
          style="width: 100px"
          class="column-headers-background"
        >
          K
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1624814910R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="11"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" colspan="10">
          15. Accidents Classified According to Use/Non-use of Safety Device by
          Victim
        </td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s3" rowspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >U</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >se</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >o</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >f</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >R</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >eq</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >S</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >f</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >y<br /></span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >D</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ev</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >c</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >*</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >)</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 7pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >#</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >)</span
          >
        </td>
        <td class="s3" colspan="9">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >N</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >umber</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >o</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >f</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >P</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >r</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ons<br /></span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >based</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >on</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ty</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >p</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >o</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >f</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >A</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >cc</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >d</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >n</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >)</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >*</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >*</span
          >
        </td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s4" colspan="3">Killed</td>
        <td class="s3" colspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >G</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >r</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >evo</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >I</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >nj</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ry<br /></span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >hos</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >p</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >l</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >z</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ed)</span
          >
        </td>
        <td class="s3" colspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >M</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >nor</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >In</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >j</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >u</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ry<br /></span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >(</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >not</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >h</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >o</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >sp</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >t</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >l</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >i</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >z</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ed)</span
          >
        </td>
        <td class="s4" colspan="2">No Injury</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s5" colspan="2"></td>
        <td class="s4">Yes</td>
        <td class="s4">No</td>
        <td class="s4">Yes</td>
        <td class="s4">No</td>
        <td class="s4">Yes</td>
        <td class="s4">No</td>
        <td class="s4">Yes</td>
        <td class="s4">No</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s6" colspan="2">1. Wearing of Helmets</td>
        <td class="s7">4</td>
        <td class="s7">16</td>
        <td class="s7">3</td>
        <td class="s7">4</td>
        <td class="s7">12</td>
        <td class="s7">15</td>
        <td class="s7">3</td>
        <td class="s7">2</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s8" colspan="2">a. Drivers *</td>
        <td class="s7">5</td>
        <td class="s7">12</td>
        <td class="s7">2</td>
        <td class="s7">3</td>
        <td class="s7">7</td>
        <td class="s7">7</td>
        <td class="s7">3</td>
        <td class="s7">2</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s8" colspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >b.</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >P</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >n</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >g</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ers</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 7pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >#</span
          >
        </td>
        <td class="s7">9</td>
        <td class="s7">7</td>
        <td class="s7">1</td>
        <td class="s7">2</td>
        <td class="s7">3</td>
        <td class="s7">6</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s6" colspan="2">2. Wearing of Seat Belts</td>
        <td class="s7">4</td>
        <td class="s7">6</td>
        <td class="s7">3</td>
        <td class="s7">1</td>
        <td class="s7">11</td>
        <td class="s7">12</td>
        <td class="s7">1</td>
        <td class="s7">3</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s8" colspan="2">a. Drivers *</td>
        <td class="s7">6</td>
        <td class="s7">4</td>
        <td class="s7">5</td>
        <td class="s7">1</td>
        <td class="s7">4</td>
        <td class="s7">5</td>
        <td class="s7">2</td>
        <td class="s7">3</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s8" colspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >b.</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >P</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >n</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >g</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ers</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 7pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >#</span
          >
        </td>
        <td class="s7">4</td>
        <td class="s7">3</td>
        <td class="s7">1</td>
        <td class="s7">2</td>
        <td class="s7">7</td>
        <td class="s7">8</td>
        <td class="s7">0</td>
        <td class="s7">1</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s6" colspan="2">3. Not Applicable</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s9 softmerge">
          <div class="softmerge-inner" style="width: 202px; left: -5px">
            a. Drivers *
          </div>
        </td>
        <td class="s10"></td>
        <td class="s11">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s8" colspan="2">
          <span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >b.</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >P</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >a</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >s</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >e</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >n</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >g</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >ers</span
          ><span
            style="
              font-size: 11pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
          >
          </span
          ><span
            style="
              font-size: 7pt;
              font-family: Times New Roman;
              font-weight: bold;
              color: #000000;
            "
            >#</span
          >
        </td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s6" colspan="2">4. Not known</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s7">0</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s6" colspan="2">Total</td>
        <td class="s7">32</td>
        <td class="s7">48</td>
        <td class="s7">15</td>
        <td class="s7">13</td>
        <td class="s7">44</td>
        <td class="s7">53</td>
        <td class="s7">9</td>
        <td class="s7">11</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1624814910R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s12" colspan="11"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>