<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="613633519C0"
          style="width: 125px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="613633519C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="613633519C2"
          style="width: 164px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="613633519C3"
          style="width: 175px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="613633519C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="613633519C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="613633519R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="6">
          16. Accidents Classified According to License of Drivers
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="2">Type of License</td>
        <td class="s2" colspan="5">Number of Accidents</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2">Fatal</td>
        <td class="s2">Grevious Injury (need hospitalisation)</td>
        <td class="s2">Minor Injury (not needing hospitalisation)</td>
        <td class="s2">Non Injury</td>
        <td class="s2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s3">1. Valid Permanent License</td>
        <td class="s4">77</td>
        <td class="s4">28</td>
        <td class="s4">113</td>
        <td class="s4">25</td>
        <td class="s5">243</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s3">2.Learner License</td>
        <td class="s4">3</td>
        <td class="s4">1</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s5">4</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s3">3.Without License</td>
        <td class="s4">1</td>
        <td class="s4">1</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s5">2</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3">4. Not known</td>
        <td class="s4">15</td>
        <td class="s4">3</td>
        <td class="s4">23</td>
        <td class="s4"></td>
        <td class="s5">41</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="613633519R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s1">Total</td>
        <td class="s5">96</td>
        <td class="s5">33</td>
        <td class="s5">136</td>
        <td class="s5">25</td>
        <td class="s5">290</td>
      </tr>
    </tbody>
  </table>
</div>
</div>