<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="534525710C0"
          style="width: 164px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="534525710C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="534525710C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="534525710C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="534525710C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="534525710C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="534525710C6"
          style="width: 159px"
          class="column-headers-background"
        >
          G
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="534525710R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="7">
          Format 21: Accidents &amp; fatalities classified according to type of
          traffic violation
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" dir="ltr" colspan="7">
          on National Highways under different categories
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2">Type of traffic violation</td>
        <td class="s3" colspan="2">National Highways under NHAI</td>
        <td class="s3" colspan="2">National Highways under State PWD</td>
        <td class="s3" colspan="2">
          National Highways under Other Departments
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s4"></td>
        <td class="s2">Accidents</td>
        <td class="s2">Persons killed</td>
        <td class="s2">Accidents</td>
        <td class="s2">Persons killed</td>
        <td class="s2">Accidents</td>
        <td class="s2">Persons killed</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s5">1. Over-Speeding</td>
        <td class="s6">54</td>
        <td class="s6">22</td>
        <td class="s6">28</td>
        <td class="s6">8</td>
        <td class="s6">114</td>
        <td class="s6">39</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s5">
          2. Drunken Driving/ Consumption of alcohol &amp; drug
        </td>
        <td class="s6">1</td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s5">3. Driving on Wrong side</td>
        <td class="s6">20</td>
        <td class="s6">4</td>
        <td class="s6">4</td>
        <td class="s6">2</td>
        <td class="s6">8</td>
        <td class="s6">5</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s5">4. Jumping Red Light</td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s5">5.Use of Mobile Phone</td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
        <td class="s6"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s5">6. Others</td>
        <td class="s6">38</td>
        <td class="s6">10</td>
        <td class="s6">7</td>
        <td class="s6">4</td>
        <td class="s6">16</td>
        <td class="s6">4</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="534525710R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s2">Total</td>
        <td class="s1">113</td>
        <td class="s1">36</td>
        <td class="s1">39</td>
        <td class="s1">14</td>
        <td class="s1">138</td>
        <td class="s1">48</td>
      </tr>
    </tbody>
  </table>
</div>
</div>