<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s8 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s6 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1385179007C0"
          style="width: 159px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1385179007C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1385179007C2"
          style="width: 152px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1385179007C3"
          style="width: 162px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1385179007C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1385179007C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1385179007R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="6">
          15. Persons killed and Injured due to Non wearing of Safety Device by
          Victims
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1">Safety Devices</td>
        <td class="s1" colspan="4">Number of Persons</td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s3"></td>
        <td class="s4">Killed</td>
        <td class="s4">Greviously Injured (need hospitalisation)</td>
        <td class="s4">Minor Injured (need hospitalisation)</td>
        <td class="s2"></td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s0">1.Non-Wearing of Helmets</td>
        <td class="s5">29</td>
        <td class="s5">6</td>
        <td class="s5">25</td>
        <td class="s6"></td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s7">a)   Drivers</td>
        <td class="s8">26</td>
        <td class="s8">4</td>
        <td class="s8">16</td>
        <td class="s2"></td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s7">b)   Passengers</td>
        <td class="s8">3</td>
        <td class="s8">2</td>
        <td class="s8">9</td>
        <td class="s2"></td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s0">2.Non-Wearing of Seat Belt</td>
        <td class="s5">12</td>
        <td class="s5">3</td>
        <td class="s5">13</td>
        <td class="s2"></td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s7">a.     Drivers</td>
        <td class="s8">7</td>
        <td class="s8">1</td>
        <td class="s8">3</td>
        <td class="s2"></td>
        <td class="s2"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1385179007R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s7">b.     Passengers</td>
        <td class="s8">5</td>
        <td class="s8">2</td>
        <td class="s8">10</td>
        <td class="s2"></td>
        <td class="s2"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>