<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="770132183C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="770132183C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="770132183C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="770132183C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="770132183C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="770132183C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="770132183C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="770132183C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="770132183C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="770132183R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          17. Accidents Classified According to Type of Road User
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Persons</td>
        <td class="s2" colspan="8">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" colspan="2">Killed</td>
        <td class="s1" colspan="2">
          Greviously Injured (need hospitalisation)
        </td>
        <td class="s1" colspan="2">
          Minor Injured (not needing hospitalisation)
        </td>
        <td class="s1" colspan="2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s3">1. Pedestrian</td>
        <td class="s1">2</td>
        <td class="s1">1</td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">12</td>
        <td class="s1">3</td>
        <td class="s1">15</td>
        <td class="s1">4</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s3">2. Bicycles</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s4">a)   Drivers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s4">b)  Passengers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s3">3.Two Wheelers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1">46</td>
        <td class="s1"></td>
        <td class="s1">19</td>
        <td class="s1">2</td>
        <td class="s1">43</td>
        <td class="s1">5</td>
        <td class="s1">108</td>
        <td class="s1">7</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s4">b)Passengers</td>
        <td class="s1">6</td>
        <td class="s1">4</td>
        <td class="s1">4</td>
        <td class="s1"></td>
        <td class="s1">15</td>
        <td class="s1">8</td>
        <td class="s1">25</td>
        <td class="s1">12</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s3">4.Auto Rickshaws</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s4">b)Passengers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1">1</td>
        <td class="s1">1</td>
        <td class="s1">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s3">5.Cars, Taxis, Vans &amp; LMV</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1">13</td>
        <td class="s1"></td>
        <td class="s1">6</td>
        <td class="s1"></td>
        <td class="s1">25</td>
        <td class="s1">1</td>
        <td class="s1">44</td>
        <td class="s1">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s4">b)Passengers</td>
        <td class="s1">8</td>
        <td class="s1">2</td>
        <td class="s1">5</td>
        <td class="s1">1</td>
        <td class="s1">42</td>
        <td class="s1">9</td>
        <td class="s1">55</td>
        <td class="s1">12</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s3">6.Trucks/Lorries</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s4">b)Passengers</td>
        <td class="s1">2</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">8</td>
        <td class="s1"></td>
        <td class="s1">10</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s3">7.Buses</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s4">b)Passengers</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">2</td>
        <td class="s1">1</td>
        <td class="s1">2</td>
        <td class="s1">1</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s3">8.Other Motor Vehicles</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">0</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">1</td>
        <td class="s1">0</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s4">b)Passengers</td>
        <td class="s1">11</td>
        <td class="s1">1</td>
        <td class="s1"></td>
        <td class="s1"></td>
        <td class="s1">21</td>
        <td class="s1">3</td>
        <td class="s1">32</td>
        <td class="s1">4</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s3">Total</td>
        <td class="s1">90</td>
        <td class="s1">8</td>
        <td class="s1">37</td>
        <td class="s1">3</td>
        <td class="s1">170</td>
        <td class="s1">31</td>
        <td class="s1">297</td>
        <td class="s1">42</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R27"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">28</div>
        </th>
        <td class="s4">a)Drivers</td>
        <td class="s1">61</td>
        <td class="s1">0</td>
        <td class="s1">27</td>
        <td class="s1">2</td>
        <td class="s1">69</td>
        <td class="s1">6</td>
        <td class="s1">158</td>
        <td class="s1">8</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="770132183R28"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">29</div>
        </th>
        <td class="s4">b)Pedestrain+ Passenger</td>
        <td class="s1">29</td>
        <td class="s1">8</td>
        <td class="s1">10</td>
        <td class="s1">1</td>
        <td class="s1">101</td>
        <td class="s1">25</td>
        <td class="s1">140</td>
        <td class="s1">34</td>
      </tr>
    </tbody>
  </table>
</div>
</div>