<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: top;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s8 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: "docs-calibri", Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1737631937C0"
          style="width: 140px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1737631937C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1737631937C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1737631937C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1737631937C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1737631937C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1737631937C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1737631937C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1737631937C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
        <th
          id="1737631937C9"
          style="width: 100px"
          class="column-headers-background"
        >
          J
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1737631937R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="10">
          18. Persons killed and Injured according to Type of Victims, Age and
          Sex
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Victims</td>
        <td class="s2" colspan="4">Number of Persons</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" colspan="2">Killed</td>
        <td class="s2" colspan="2">Injured</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s5">(A)Drivers – Total</td>
        <td class="s1">61</td>
        <td class="s1">0</td>
        <td class="s1">96</td>
        <td class="s1">8</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s6">1.Less than 18 years</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">4</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s6">2. 18-25</td>
        <td class="s8">14</td>
        <td class="s7"></td>
        <td class="s8">26</td>
        <td class="s8">3</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s6">3. 25-35</td>
        <td class="s8">24</td>
        <td class="s7"></td>
        <td class="s8">30</td>
        <td class="s8">4</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s6">4. 35-45</td>
        <td class="s8">15</td>
        <td class="s7"></td>
        <td class="s8">20</td>
        <td class="s8">1</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s6">5. 45-60</td>
        <td class="s8">6</td>
        <td class="s7"></td>
        <td class="s8">7</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s6">6. 60 and Above</td>
        <td class="s8">2</td>
        <td class="s7"></td>
        <td class="s8">4</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s6">Age not known</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">5</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s5">(B) Passengers – Total</td>
        <td class="s1">27</td>
        <td class="s1">7</td>
        <td class="s1">97</td>
        <td class="s1">23</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s6">1. Less than 18 years</td>
        <td class="s8">2</td>
        <td class="s7"></td>
        <td class="s8">8</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s6">2 18-25</td>
        <td class="s8">5</td>
        <td class="s8">1</td>
        <td class="s8">19</td>
        <td class="s8">4</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s6">3. 25-35</td>
        <td class="s8">9</td>
        <td class="s8">2</td>
        <td class="s8">23</td>
        <td class="s8">7</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s6">4. 35-45</td>
        <td class="s8">6</td>
        <td class="s8">3</td>
        <td class="s8">26</td>
        <td class="s8">7</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s6">5. 45-60</td>
        <td class="s8">4</td>
        <td class="s8">1</td>
        <td class="s8">12</td>
        <td class="s8">3</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s6">6. 60 and Above</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">8</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s6">Age not known</td>
        <td class="s8">1</td>
        <td class="s7"></td>
        <td class="s8">1</td>
        <td class="s8">2</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s5">(C) Pedestrian – Total</td>
        <td class="s1">2</td>
        <td class="s1">1</td>
        <td class="s1">13</td>
        <td class="s1">3</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s6">1. Less than 18 years</td>
        <td class="s8">1</td>
        <td class="s7"></td>
        <td class="s8">1</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s6">2 18-25</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">2</td>
        <td class="s8">2</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s6">3. 25-35</td>
        <td class="s8">1</td>
        <td class="s8">1</td>
        <td class="s8">5</td>
        <td class="s8">1</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s6">4. 35-45</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">1</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s6">5. 45-60</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">2</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s6">6. 60 and Above</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">2</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R27"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">28</div>
        </th>
        <td class="s6">Age not known</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R28"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">29</div>
        </th>
        <td class="s5">(D) Cyclist – Total</td>
        <td class="s1">0</td>
        <td class="s1">0</td>
        <td class="s1">1</td>
        <td class="s1">0</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R29"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">30</div>
        </th>
        <td class="s6">1. Less than 18 years</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s8">1</td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R30"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">31</div>
        </th>
        <td class="s6">2 18-25</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R31"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">32</div>
        </th>
        <td class="s6">3. 25-35</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R32"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">33</div>
        </th>
        <td class="s6">4. 35-45</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R33"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">34</div>
        </th>
        <td class="s6">5. 45-60</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R34"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">35</div>
        </th>
        <td class="s6">6. 60 and Above</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R35"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">36</div>
        </th>
        <td class="s6">Age not known</td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s7"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R36"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">37</div>
        </th>
        <td class="s5">Total</td>
        <td class="s1">90</td>
        <td class="s1">8</td>
        <td class="s1">207</td>
        <td class="s1">34</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R37"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">38</div>
        </th>
        <td class="s6">1. Less than 18 years</td>
        <td class="s1">3</td>
        <td class="s1">0</td>
        <td class="s1">14</td>
        <td class="s1">0</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R38"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">39</div>
        </th>
        <td class="s6">2 18-25</td>
        <td class="s1">19</td>
        <td class="s1">1</td>
        <td class="s1">47</td>
        <td class="s1">9</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R39"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">40</div>
        </th>
        <td class="s6">3. 25-35</td>
        <td class="s1">34</td>
        <td class="s1">3</td>
        <td class="s1">58</td>
        <td class="s1">12</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R40"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">41</div>
        </th>
        <td class="s6">4. 35-45</td>
        <td class="s1">21</td>
        <td class="s1">3</td>
        <td class="s1">47</td>
        <td class="s1">8</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R41"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">42</div>
        </th>
        <td class="s6">5. 45-60</td>
        <td class="s1">10</td>
        <td class="s1">1</td>
        <td class="s1">21</td>
        <td class="s1">3</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R42"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">43</div>
        </th>
        <td class="s6">6 .60 and Above</td>
        <td class="s1">2</td>
        <td class="s1">0</td>
        <td class="s1">14</td>
        <td class="s1">0</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1737631937R43"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">44</div>
        </th>
        <td class="s6">Age not known</td>
        <td class="s1">1</td>
        <td class="s1">0</td>
        <td class="s1">6</td>
        <td class="s1">2</td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
        <td class="s3"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>