<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s6 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1771340897C0"
          style="width: 142px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1771340897C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1771340897C2"
          style="width: 136px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1771340897C3"
          style="width: 110px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1771340897C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1771340897C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1771340897C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1771340897C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1771340897C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1771340897R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          3.Accidents Classified According to Weather Conditions
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="4">Weather Condition</td>
        <td class="s2" colspan="5">Number of Accidents</td>
        <td class="s2" colspan="3">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" rowspan="3">Fatal</td>
        <td class="s2" rowspan="3">Grevious Injury (need hospitalisation)</td>
        <td class="s2" rowspan="3">
          Minor Injury (not needing hospitalisation)
        </td>
        <td class="s2" rowspan="3">Non Injury</td>
        <td class="s2" rowspan="3">Total</td>
        <td class="s2" rowspan="3">Killed</td>
        <td class="s2" colspan="2" rowspan="2">Injured</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s2">Greviously Injured</td>
        <td class="s2">Minor Injury</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s3">1. Sunny/Clear</td>
        <td class="s4">44</td>
        <td class="s4">21</td>
        <td class="s4">66</td>
        <td class="s4">15</td>
        <td class="s5">146</td>
        <td class="s4">47</td>
        <td class="s4">21</td>
        <td class="s6">110</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3">2. Rainy</td>
        <td class="s4">11</td>
        <td class="s4">2</td>
        <td class="s4">10</td>
        <td class="s4">1</td>
        <td class="s5">24</td>
        <td class="s4">12</td>
        <td class="s4">1</td>
        <td class="s6">13</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s3">3. Foggy &amp; Misty</td>
        <td class="s4">7</td>
        <td class="s4"></td>
        <td class="s4">3</td>
        <td class="s4">4</td>
        <td class="s5">14</td>
        <td class="s4">7</td>
        <td class="s4"></td>
        <td class="s6">8</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s3">4. Hail/Sleet</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s5">0</td>
        <td class="s4"></td>
        <td class="s4"></td>
        <td class="s6"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s3 softmerge">
          <div class="softmerge-inner" style="width: 139px; left: -1px">
            5. Others (Specify)
          </div>
        </td>
        <td class="s4">34</td>
        <td class="s4">10</td>
        <td class="s4">57</td>
        <td class="s4">5</td>
        <td class="s5">106</td>
        <td class="s4">32</td>
        <td class="s4">18</td>
        <td class="s6">70</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1771340897R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s7" dir="ltr">TOTAL</td>
        <td class="s6">96</td>
        <td class="s6">33</td>
        <td class="s6">136</td>
        <td class="s6">25</td>
        <td class="s6">290</td>
        <td class="s6">98</td>
        <td class="s6">40</td>
        <td class="s6">201</td>
      </tr>
    </tbody>
  </table>
</div>
</div>